body {
  background-color: #E6CAAB;
  color: #37260c;
}
body::-webkit-scrollbar {
  display: none;
}
body .nav {
  font-family: "Raleway", sans-serif;
  margin: 0 auto;
  text-align: center;
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-between;
  border-bottom: black 1px solid;
  padding: 0 2rem;
}
body .nav.purple {
  background: #37260c;
}
body .nav img {
  width: 8rem;
}
body .nav div {
  display: flex;
  align-items: center;
  gap: 5rem;
}
body .nav div a {
  color: #E6CAAB;
  text-decoration: none;
  font: 1.5rem "Raleway", sans-serif;
  margin: 0 10px;
  padding: 10px;
  position: relative;
  cursor: pointer;
  text-transform: uppercase;
  display: inline-block;
  vertical-align: middle;
}
body .nav div a::before, body .nav div a::after {
  position: absolute;
  left: 0;
  width: 100%;
  height: 2px;
  background: #E6CAAB;
  content: "";
  opacity: 0;
  transition: all 0.3s;
}
body .nav div a::before {
  top: 0;
  transform: translateY(-10px);
}
body .nav div a::after {
  bottom: 0;
  transform: translateY(10px);
}
body .nav div a:hover::before, body .nav div a:hover::after {
  opacity: 1;
  transform: translateY(0);
}
body #connexion,
body #inscription,
body #modifier-prestation {
  padding: 1rem 0;
}
body #connexion h1,
body #connexion p,
body #inscription h1,
body #inscription p,
body #modifier-prestation h1,
body #modifier-prestation p {
  text-align: center;
}
body #connexion .retour,
body #inscription .retour,
body #modifier-prestation .retour {
  padding-left: 2rem;
  font-size: 1.3rem;
  color: #37260c;
  text-decoration: none;
}
body #connexion .retour:hover,
body #inscription .retour:hover,
body #modifier-prestation .retour:hover {
  text-decoration: underline;
  transition: all 0.3s;
}
body #connexion .container,
body #inscription .container,
body #modifier-prestation .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
body #connexion .container .double,
body #inscription .container .double,
body #modifier-prestation .container .double {
  display: flex;
  gap: 1rem;
}
body #connexion .container div,
body #inscription .container div,
body #modifier-prestation .container div {
  width: 100%;
}
body #connexion .container div input,
body #connexion .container div textarea,
body #inscription .container div input,
body #inscription .container div textarea,
body #modifier-prestation .container div input,
body #modifier-prestation .container div textarea {
  background-color: #37260c;
  color: #E6CAAB;
}
body #connexion .container div input:focus,
body #connexion .container div textarea:focus,
body #inscription .container div input:focus,
body #inscription .container div textarea:focus,
body #modifier-prestation .container div input:focus,
body #modifier-prestation .container div textarea:focus {
  background-color: #37260c;
}
body #connexion .container div input:-webkit-autofill,
body #connexion .container div textarea:-webkit-autofill,
body #inscription .container div input:-webkit-autofill,
body #inscription .container div textarea:-webkit-autofill,
body #modifier-prestation .container div input:-webkit-autofill,
body #modifier-prestation .container div textarea:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 1000px #37260c inset !important;
  -webkit-text-fill-color: #E6CAAB !important;
}
body #connexion .container div input:focus:-webkit-autofill,
body #connexion .container div textarea:focus:-webkit-autofill,
body #inscription .container div input:focus:-webkit-autofill,
body #inscription .container div textarea:focus:-webkit-autofill,
body #modifier-prestation .container div input:focus:-webkit-autofill,
body #modifier-prestation .container div textarea:focus:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 1000px #37260c inset !important;
  -webkit-text-fill-color: #E6CAAB !important;
}
body #connexion .container div label,
body #inscription .container div label,
body #modifier-prestation .container div label {
  color: #E6CAAB;
}
body #connexion .container div p,
body #inscription .container div p,
body #modifier-prestation .container div p {
  width: -moz-max-content;
  width: max-content;
  margin: 0 auto;
  color: red;
}
body #connexion .container div a,
body #inscription .container div a,
body #modifier-prestation .container div a {
  color: #37260c;
}
body #connexion .container p,
body #inscription .container p,
body #modifier-prestation .container p {
  width: -moz-max-content;
  width: max-content;
  margin: 0rem auto;
  color: red;
}
body #connexion .container button,
body #inscription .container button,
body #modifier-prestation .container button {
  background-color: #37260c;
  color: #E6CAAB;
  padding: 0 1rem;
  text-transform: uppercase;
}
body #connexion .container button:hover,
body #inscription .container button:hover,
body #modifier-prestation .container button:hover {
  color: #37260c;
  background-color: #E6CAAB;
  border: 1px solid #37260c;
}
body #connexion .container a,
body #inscription .container a,
body #modifier-prestation .container a {
  color: #37260c;
}
body #connexion div a,
body #inscription div a,
body #modifier-prestation div a {
  color: #37260c;
  text-decoration: none;
}
body #connexion div a:hover,
body #inscription div a:hover,
body #modifier-prestation div a:hover {
  transition: all 0.3s;
  text-decoration: underline;
}
body #accueil .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
body #accueil .container a {
  color: #37260c;
}
body #prestations {
  padding-top: 2rem;
}
body #prestations .retour {
  padding-left: 2rem;
  font-size: 1.3rem;
  color: #37260c;
  text-decoration: none;
}
body #prestations .retour:hover {
  text-decoration: underline;
  transition: all 0.3s;
}
body #prestations .container caption {
  text-align: center;
  color: #37260c;
}
body #prestations .container thead th,
body #prestations .container thead td,
body #prestations .container tbody th,
body #prestations .container tbody td {
  border: #37260c 1px solid;
  padding: 0.5rem;
}
body #prestations .container thead th div div,
body #prestations .container thead td div div,
body #prestations .container tbody th div div,
body #prestations .container tbody td div div {
  background-color: #37260c;
  color: #E6CAAB;
}
body #reservation {
  padding-top: 2rem;
}
body #reservation .retour {
  padding-left: 2rem;
  font-size: 1.3rem;
  color: #37260c;
  text-decoration: none;
}
body #reservation .retour:hover {
  text-decoration: underline;
  transition: all 0.3s;
}
body #reservation button {
  margin-top: 4rem;
}
body #reservation .container caption {
  text-align: center;
  color: #37260c;
  caption-side: top;
}
body #reservation .container thead,
body #reservation .container tbody {
  border: #37260c 1px solid;
}
body #reservation .container thead th,
body #reservation .container thead td,
body #reservation .container tbody th,
body #reservation .container tbody td {
  padding: 0.5rem;
  text-align: center;
}
body #reservation .container thead td,
body #reservation .container tbody td {
  border: #37260c 1px solid;
}
body #reservation .container thead td a,
body #reservation .container tbody td a {
  display: block;
  width: 100%;
  text-decoration: none;
  color: #37260c;
}
body #reservation .container thead td:has(a):hover,
body #reservation .container tbody td:has(a):hover {
  background-color: #37260c;
  color: #E6CAAB;
  transition: all 0.3s;
  transform: scale(1.1);
}
body #reservation .container thead td:has(a):hover a,
body #reservation .container tbody td:has(a):hover a {
  color: #E6CAAB;
}
body #date h1 {
  padding-top: 3rem;
}
body #date h2 {
  padding-bottom: 3rem;
}
body #date div a {
  color: #37260c;
  text-decoration: none;
}
body #date div a div {
  border: 1px solid #37260c;
}
body #date div a div:hover {
  color: white;
  background-color: #37260c;
  transition: all 0.3s;
  transform: scale(1.05);
}
body footer {
  width: 100%;
  text-align: center;
  padding: 1rem 0;
  font-size: 0.8rem;
  color: #E6CAAB;
  background-color: #37260c;
  position: fixed;
  bottom: 0;
}
body footer figure figcaption {
  color: #8a7256 !important;
  font-size: 1rem !important;
}

@media (max-width: 1500px) {
  #body-connexion footer,
  #body-inscription footer,
  #body-prestation footer {
    display: none;
    visibility: hidden;
  }
}/*# sourceMappingURL=style.css.map */